*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin:10px auto;
    max-width: 1400px;
    
    border: 1px solid black;
}

header{
    margin: 20px;
    border: 1px solid black;
    background-color: #f2f2f2;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem,8vw,2.5rem);
}

img{
    width: 100%;
    height: auto;
}

.mid{
    display: flex;
    flex-wrap:wrap; 
    justify-content: space-evenly;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: clamp(0.5rem,8vw,1rem);  
}

.profbox{
    text-align: center;
    border: 1px solid black;
    max-width:200px;

    margin-top: 20px;
    margin-bottom: 20px;
}

footer .headu{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 20px ;
    height: 100px;
    background-color: #f2f2f2;
    border: 1px solid black;    
    font-size: clamp(1rem,8vw,2.5rem);
    text-align: center;
}



.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.box1{
    width: 300px;
    max-width: 300px;
    height: 100px;
    border: 1px solid black;
    margin: 20px;
    font-size: clamp(0.5rem,8vw,1rem);
}