*{
    margin: 0px;
    padding: 10px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    background-color: rgb(146, 206, 206);
}

th{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table,td,tr{

    border-spacing: 0;  
    text-align: center;
}

.subheading{
    background-color:rgb(216, 240, 242);
    color:rgb(57, 93, 91);
}
th{
    background-color: rgb(49, 121, 133);
    color: white;
}
td{
    padding: 10px;
    width: 1000px;
    background-color: rgb(253, 253, 253);
    color: rgb(68, 102, 101);
}

.bottomleft{
    border-bottom-left-radius: 10px;
}

.bottomright{
    border-bottom-right-radius: 10px;
}

.play,.bottomleft,.bottomright{
    background-color: rgb(216, 240, 242);
}

img{
    height: 80px;
    width: 80px;
    border-radius: 160px;
}
